@font-face {
  font-family: "cheltenham";
  src:
    url("/fonts/cheltenham/Cheltenham-ExtraBold.woff2") format("woff2"),
    url("/fonts/cheltenham/Cheltenham-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cheltenham";
  src:
    url("/fonts/cheltenham/Cheltenham-Medium.woff2") format("woff2"),
    url("/fonts/cheltenham/Cheltenham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cheltenham";
  src:
    url("/fonts/cheltenham/Cheltenham-Bold.woff2") format("woff2"),
    url("/fonts/cheltenham/Cheltenham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cheltenham";
  src:
    url("/fonts/cheltenham/Cheltenham-ExtraLight.woff2") format("woff2"),
    url("/fonts/cheltenham/Cheltenham-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cheltenham";
  src:
    url("/fonts/cheltenham/Cheltenham-Light.woff2") format("woff2"),
    url("/fonts/cheltenham/Cheltenham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cheltenham book";
  src:
    url("/fonts/cheltenham/Cheltenham-Book.woff2") format("woff2"),
    url("/fonts/cheltenham/Cheltenham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "franklin";
  src:
    url("/fonts/franklin/Franklin-Light.woff2") format("woff2"),
    url("/fonts/franklin/Franklin-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "franklin";
  src:
    url("/fonts/franklin/Franklin-Bold.woff2") format("woff2"),
    url("/fonts/franklin/Franklin-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Franklin Headline";
  src:
    url("/fonts/franklin/Franklin-Headline.woff2") format("woff2"),
    url("/fonts/franklin/Franklin-Headline.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "franklin";
  src:
    url("/fonts/franklin/Franklin-ExtraBold.woff2") format("woff2"),
    url("/fonts/franklin/Franklin-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "franklin";
  src:
    url("/fonts/franklin/Franklin-Semibold.woff2") format("woff2"),
    url("/fonts/franklin/Franklin-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "franklin";
  src:
    url("/fonts/franklin/Franklin-Medium.woff2") format("woff2"),
    url("/fonts/franklin/Franklin-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stymie";
  src:
    url("/fonts/stymie/Stymie-ExtraBold.woff2") format("woff2"),
    url("/fonts/stymie/Stymie-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stymie";
  src:
    url("/fonts/stymie/Stymie-Ultralight.woff2") format("woff2"),
    url("/fonts/stymie/Stymie-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stymie";
  src:
    url("/fonts/stymie/Stymie-Bold.woff2") format("woff2"),
    url("/fonts/stymie/Stymie-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stymie";
  src:
    url("/fonts/stymie/Stymie-Medium.woff2") format("woff2"),
    url("/fonts/stymie/Stymie-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stymie";
  src:
    url("/fonts/stymie/Stymie-Thin.woff2") format("woff2"),
    url("/fonts/stymie/Stymie-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stymie";
  src:
    url("/fonts/stymie/Stymie-Light.woff2") format("woff2"),
    url("/fonts/stymie/Stymie-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stymie";
  src:
    url("/fonts/stymie/Stymie-Black.woff2") format("woff2"),
    url("/fonts/stymie/Stymie-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
