@import "~modularscale-sass/stylesheets/modularscale";
@import "fonts.scss";

$modularscale: (
  base: 16px,
  ratio: 1.25
);

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100;

  .controls {
    position: absolute;
    top: 0;
    left: 0;
  }

  .message {
    font-family: franklin;
    font-size: ms(3);
    width: ms(16);
    text-align: left;

    &.idle {
      color: var(--neutral-300);
    }
  }
}
